* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(36, 202, 147);
    background-image: radial-gradient(rgb(0, 207, 93), rgb(0, 149, 168));
}

#container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    margin-top: .3em;
    font-size: 3em;
    font-weight: 500;
}

.canvas {
    display:flex;
    border: .5em solid rgb(35, 193, 255);
    border-radius: .6em;
    box-shadow: .5em .5em rgb(0, 34, 39);
    min-width: 600px;
    min-height: 600px;
    background-color: white;
    cursor: url("pencil.png"), default;
}

button {
    color: black;
}

.column {
    display: flex;
    flex: auto;
    flex-direction: column;
    
    /* border: 2px solid yellow; */
}

.gridSquare {
    flex: auto;
    /*border: 2px solid orange;*/
}