* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(36, 202, 147);
    background-image: radial-gradient(rgb(0, 207, 93), rgb(0, 149, 168));
    cursor: url("pencil.png"), default;
}

#container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#page-content {
    display: flex;
}

.right {
    min-width: 15em;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 13em;
    gap: .5em;
    padding: .8em;
}
#reset-btn {
    border-radius: 1.7em;
    min-width: 7em;
    flex: 1.2 1 auto;
    margin-top: .8em;
}

.hover-check-div,
.colour-div {
    display:flex;
    font-size: 1.4em;
}

.hover-text,
.colour-text {
    color: black;
}

#eraser-btn {
    margin-bottom: 1.2em;
}

#rainbow-btn {
    margin-bottom: 1.2em;
}

button {
    flex: auto;
    min-width: 5em;
    border-radius: 2em;
    color: black;
    font-size: 1.4em;
    transition-duration: .07s;
}

.button-select {
    border: solid gold .2em;
    background-color: rgb(167, 237, 255);
    transform: scale(1.1)
}

input {
    flex: .4 1 .4em;
    min-width: 5em;
    margin-right: .8em;
}

#hover-check {
    min-width: 2em;
}

.hover-transition {
    transform: scale(1.15)
}

#title {
    margin-top: .3em;
    font-size: 3em;
    font-weight: 500;
}

.canvas {
    display:flex;
    border: .5em solid rgb(35, 193, 255);
    border-radius: .6em;
    box-shadow: .5em .5em rgb(0, 34, 39);
    min-width: 600px;
    min-height: 600px;
    background-color: white;
}

.column {
    display: flex;
    flex: auto;
    flex-direction: column;
    
    /* border: 2px solid yellow; */
}

.gridSquare {
    flex: auto;
    /*border: 2px solid orange;*/
}